{
  "openapi": "3.1.0",
  "info": {
    "title": "Mage API",
    "version": "v1",
    "description": "Run Mage models from your own code: submit a generation, poll its status, download the result. Every request is paid in gems.",
    "contact": {
      "name": "Mage",
      "url": "https://www.mage.space",
      "email": "mage@mage.space"
    }
  },
  "servers": [
    {
      "url": "https://api.mage.space",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Requests",
      "description": "Submit, poll, and cancel generations."
    },
    {
      "name": "Catalog",
      "description": "What the API can generate with."
    },
    {
      "name": "Account",
      "description": "The gems balance."
    },
    {
      "name": "Uploads",
      "description": "Large input files."
    },
    {
      "name": "Characters",
      "description": "Saved characters a prompt mentions by `@handle`."
    },
    {
      "name": "References",
      "description": "Saved image and audio references a prompt mentions by `@handle`."
    },
    {
      "name": "Image models",
      "description": "One endpoint per image architecture."
    },
    {
      "name": "Video models",
      "description": "One endpoint per video architecture."
    },
    {
      "name": "Audio models",
      "description": "One endpoint per audio architecture."
    }
  ],
  "paths": {
    "/v1/{architecture}/generate": {
      "post": {
        "operationId": "generate",
        "summary": "Generate",
        "description": "Submit a generation with any architecture.",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "architecture",
            "in": "path",
            "required": true,
            "description": "The architecture id, from the catalog.",
            "schema": {
              "type": "string",
              "enum": [
                "mango",
                "krea_2",
                "minimax_h3",
                "z_image",
                "stable_diffusion_xl",
                "kiwi",
                "blueberry",
                "wan_22",
                "flux2",
                "chroma",
                "hidream",
                "ltx_video",
                "stable_diffusion_v15",
                "stable_diffusion_v35_large",
                "guava",
                "nano_banana_v2",
                "sdxl_plus",
                "cherry",
                "raspberry",
                "grok_image",
                "grok_video",
                "berry",
                "gpt_image_2",
                "anima",
                "melon",
                "seed_audio",
                "plum",
                "lemon"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for the architecture.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "flux2",
                  "model_id": "flux2-dev",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 40
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "404": {
            "description": "No such architecture.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "architecture_not_found",
                    "message": "Unknown architecture `fluxx`. List architectures at GET /v1/architectures."
                  }
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.generate('mango', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.request_id, request.status);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.generate(\"mango\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"request_id\"], request[\"status\"])"
          }
        ]
      }
    },
    "/v1/architectures": {
      "get": {
        "operationId": "list_architectures",
        "summary": "List architectures",
        "description": "Every architecture the API can generate with, with its fields, tokens, defaults, and price.",
        "tags": [
          "Catalog"
        ],
        "responses": {
          "200": {
            "description": "The catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchitectureList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst { architectures } = await mage.architectures.list();\n\nfor (const architecture of architectures) {\n  console.log(architecture.id, architecture.gems);\n}"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\ncatalog = mage.architectures.list()\n\nfor architecture in catalog[\"architectures\"]:\n    print(architecture[\"id\"], architecture[\"gems\"])"
          }
        ]
      }
    },
    "/v1/requests/{request_id}/status": {
      "get": {
        "operationId": "get_request_status",
        "summary": "Get request status",
        "description": "The state, result, and billing of a request.",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "description": "The `request_id` from the submit response.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request's current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "examples": {
                  "in_progress": {
                    "summary": "Generating",
                    "value": {
                      "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                      "status": "in_progress",
                      "architecture": "flux2",
                      "model_id": "flux2-dev",
                      "created_at": "2026-09-17T14:52:48.000Z",
                      "updated_at": "2026-09-17T14:52:49.000Z",
                      "billing": {
                        "mode": "gems",
                        "gems_charged": 40
                      },
                      "result": null,
                      "error": null,
                      "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                      "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                    }
                  },
                  "completed": {
                    "summary": "Completed",
                    "value": {
                      "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                      "status": "completed",
                      "architecture": "flux2",
                      "model_id": "flux2-dev",
                      "created_at": "2026-09-17T14:52:48.000Z",
                      "updated_at": "2026-09-17T14:53:10.000Z",
                      "billing": {
                        "mode": "gems",
                        "gems_charged": 40
                      },
                      "result": {
                        "type": "image",
                        "url": "https://cdn3.mage.space/temp/30d/user/image.png",
                        "width": 1024,
                        "height": 1280,
                        "seed": 1234567,
                        "expires_at": "2026-10-17T14:52:48.000Z",
                        "moderation": {
                          "nsfw": false
                        }
                      },
                      "error": null,
                      "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                      "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                    }
                  },
                  "failed": {
                    "summary": "Failed and refunded",
                    "value": {
                      "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                      "status": "failed",
                      "architecture": "flux2",
                      "model_id": "flux2-dev",
                      "created_at": "2026-09-17T14:52:48.000Z",
                      "updated_at": "2026-09-17T14:53:02.000Z",
                      "billing": {
                        "mode": "gems",
                        "gems_charged": 40,
                        "gems_refunded": 40
                      },
                      "result": null,
                      "error": {
                        "code": "generation_failed",
                        "message": "The generation failed. Any gems charged were refunded."
                      },
                      "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                      "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/RequestNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.requests.get('REQUEST_ID');\n\n// Or poll until it is completed, failed, or cancelled:\nconst final = await mage.requests.wait('REQUEST_ID');\nconsole.log(final.status, final.result?.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.requests.get(\"REQUEST_ID\")\n\n# Or poll until it is completed, failed, or cancelled:\nfinal = mage.requests.wait(\"REQUEST_ID\")\nprint(final[\"status\"], final[\"result\"] and final[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/requests/{request_id}/cancel": {
      "post": {
        "operationId": "cancel_request",
        "summary": "Cancel request",
        "description": "Stop a live request. Gems are not refunded.",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "description": "The `request_id` from the submit response.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request's state after the cancellation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "cancelled",
                  "architecture": "flux2",
                  "model_id": "flux2-dev",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:55.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 40
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/RequestNotFound"
          },
          "409": {
            "description": "The request already finished.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "request_finished",
                    "message": "The request has already finished and cannot be cancelled."
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.requests.cancel('REQUEST_ID');\n\nconsole.log(request.status); // cancelled"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.requests.cancel(\"REQUEST_ID\")\n\nprint(request[\"status\"])  # cancelled"
          }
        ]
      }
    },
    "/v1/account": {
      "get": {
        "operationId": "get_account",
        "summary": "Get account",
        "description": "The gems balance the API draws from.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "The balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                },
                "example": {
                  "gems": {
                    "balance": 1250
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst account = await mage.account.get();\n\nconsole.log(account.gems.balance);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\naccount = mage.account.get()\n\nprint(account[\"gems\"][\"balance\"])"
          }
        ]
      }
    },
    "/v1/uploads": {
      "post": {
        "operationId": "create_upload",
        "summary": "Create upload",
        "description": "A signed URL to upload one input file, for files too large for a data URL.",
        "tags": [
          "Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadRequest"
              },
              "example": {
                "content_type": "video/mp4"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upload ticket.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadTicket"
                },
                "example": {
                  "upload_url": "https://storage.googleapis.com/mage/temp/30d/uploads/user/video/6f1c.mp4?X-Goog-Signature=…",
                  "method": "PUT",
                  "headers": {
                    "Content-Type": "video/mp4",
                    "x-goog-content-length-range": "0,104857600"
                  },
                  "url": "https://cdn3.mage.space/temp/30d/uploads/user/video/6f1c.mp4",
                  "content_type": "video/mp4",
                  "max_bytes": 104857600,
                  "upload_url_expires_at": "2026-09-17T15:07:48.000Z",
                  "url_expires_at": "2026-10-17T14:52:48.000Z"
                }
              }
            }
          },
          "400": {
            "description": "The body is not a JSON object, or `content_type` is missing or not an accepted image or video type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "`content_type` must be one of: image/jpeg, image/png, video/mp4, video/quicktime, video/webm, audio/mpeg, audio/mp3, audio/wav, audio/wave, audio/x-wav."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import { readFile } from 'node:fs/promises';\nimport Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\n// Creates the ticket and uploads the file to it.\nconst ticket = await mage.uploads.upload(await readFile('clip.mp4'), {\n  contentType: 'video/mp4',\n});\n\nconsole.log(ticket.url); // send this in any media field"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\n# Creates the ticket and uploads the file to it.\nticket = mage.uploads.upload(\"clip.mp4\")  # a path, bytes, or a binary file\n\nprint(ticket[\"url\"])  # send this in any media field"
          }
        ]
      }
    },
    "/v1/characters": {
      "get": {
        "operationId": "list_characters",
        "summary": "List characters",
        "description": "The account's own characters, newest first. Other users' public characters are not listed; they are reached by `@handle` in a prompt.",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Entities per page, 1 to 200; 50 when omitted.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `next_cursor` of the previous page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of characters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterList"
                },
                "example": {
                  "data": [
                    {
                      "id": "3f9c2a1e-7b44-4d2e-9a0f-6c1d8e2b5a71",
                      "handle": "ana",
                      "name": "Ana",
                      "description": "A red-haired courier in a green jacket.",
                      "image_url": "https://cdn3.mage.space/characters/user/image/9b1e.jpg",
                      "voice_url": "https://cdn3.mage.space/references/user/audio/7d2c.mp3",
                      "visibility": "private",
                      "created_at": "2026-09-18T10:00:00.000Z"
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidListRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst page = await mage.characters.list({ limit: 50 });\n\nfor (const character of page.data) {\n  console.log(`@${character.handle}`, character.name);\n}\n// Pass page.next_cursor as cursor for the next page."
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\npage = mage.characters.list(limit=50)\n\nfor character in page[\"data\"]:\n    print(f\"@{character['handle']}\", character[\"name\"])\n# Pass page[\"next_cursor\"] as cursor for the next page."
          }
        ]
      },
      "post": {
        "operationId": "create_character",
        "summary": "Create character",
        "description": "Save a private character from a name, a portrait, and optionally a voice clip. Its `handle` is what a prompt mentions.",
        "tags": [
          "Characters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCharacterRequest"
              },
              "example": {
                "name": "Ana",
                "handle": "ana",
                "image": "https://example.com/ana.jpg",
                "description": "A red-haired courier in a green jacket.",
                "voice": "https://example.com/ana-voice.mp3"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The character.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Character"
                },
                "example": {
                  "id": "3f9c2a1e-7b44-4d2e-9a0f-6c1d8e2b5a71",
                  "handle": "ana",
                  "name": "Ana",
                  "description": "A red-haired courier in a green jacket.",
                  "image_url": "https://cdn3.mage.space/characters/user/image/9b1e.jpg",
                  "voice_url": "https://cdn3.mage.space/references/user/audio/7d2c.mp3",
                  "visibility": "private",
                  "created_at": "2026-09-18T10:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidCreateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateForbidden"
          },
          "409": {
            "$ref": "#/components/responses/HandleTaken"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nawait mage.characters.create({\n  name: 'Ana',\n  handle: 'ana',\n  image: 'https://example.com/ana.jpg',\n});\n\nawait mage.run('mango', { prompt: '@ana walking through a night market' });"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nmage.characters.create(\n    name=\"Ana\",\n    handle=\"ana\",\n    image=\"https://example.com/ana.jpg\",\n)\n\nmage.run(\"mango\", {\"prompt\": \"@ana walking through a night market\"})"
          }
        ]
      }
    },
    "/v1/characters/{character_id}": {
      "delete": {
        "operationId": "delete_character",
        "summary": "Delete character",
        "description": "Remove the account's character. Its handle stops resolving at once and may be taken again.",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "required": true,
            "description": "The character's `id`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The character was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CharacterNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nawait mage.characters.delete('CHARACTER_ID');"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nmage.characters.delete(\"CHARACTER_ID\")"
          }
        ]
      }
    },
    "/v1/references": {
      "get": {
        "operationId": "list_references",
        "summary": "List references",
        "description": "The account's own image and audio references, newest first.",
        "tags": [
          "References"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Entities per page, 1 to 200; 50 when omitted.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `next_cursor` of the previous page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of references.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceList"
                },
                "example": {
                  "data": [
                    {
                      "id": "a81f0c5d-2e6b-4f93-b7c4-0d9e5a3c2f18",
                      "handle": "red-coat",
                      "name": "Red coat",
                      "kind": "outfit",
                      "description": null,
                      "image_url": "https://cdn3.mage.space/references/user/image/4c2d.jpg",
                      "audio_url": null,
                      "created_at": "2026-09-18T10:05:00.000Z"
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidListRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst page = await mage.references.list({ limit: 50 });\n\nfor (const reference of page.data) {\n  console.log(`@${reference.handle}`, reference.kind);\n}"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\npage = mage.references.list(limit=50)\n\nfor reference in page[\"data\"]:\n    print(f\"@{reference['handle']}\", reference[\"kind\"])"
          }
        ]
      },
      "post": {
        "operationId": "create_reference",
        "summary": "Create reference",
        "description": "Save a private reference: an object, location, pose, or outfit from an image, or an audio reference from a clip. Its `handle` is what a prompt mentions.",
        "tags": [
          "References"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReferenceRequest"
              },
              "example": {
                "name": "Red coat",
                "handle": "red-coat",
                "kind": "outfit",
                "image": "https://example.com/red-coat.jpg"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The reference.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reference"
                },
                "example": {
                  "id": "a81f0c5d-2e6b-4f93-b7c4-0d9e5a3c2f18",
                  "handle": "red-coat",
                  "name": "Red coat",
                  "kind": "outfit",
                  "description": null,
                  "image_url": "https://cdn3.mage.space/references/user/image/4c2d.jpg",
                  "audio_url": null,
                  "created_at": "2026-09-18T10:05:00.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidCreateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateForbidden"
          },
          "409": {
            "$ref": "#/components/responses/HandleTaken"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nawait mage.references.create({\n  name: 'Red coat',\n  handle: 'red-coat',\n  kind: 'outfit',\n  image: 'https://example.com/red-coat.jpg',\n});\n\nawait mage.run('mango', { prompt: 'a figure wearing @red-coat in the snow' });"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nmage.references.create(\n    name=\"Red coat\",\n    handle=\"red-coat\",\n    kind=\"outfit\",\n    image=\"https://example.com/red-coat.jpg\",\n)\n\nmage.run(\"mango\", {\"prompt\": \"a figure wearing @red-coat in the snow\"})"
          }
        ]
      }
    },
    "/v1/references/{reference_id}": {
      "delete": {
        "operationId": "delete_reference",
        "summary": "Delete reference",
        "description": "Remove the account's reference. Its handle stops resolving at once and may be taken again.",
        "tags": [
          "References"
        ],
        "parameters": [
          {
            "name": "reference_id",
            "in": "path",
            "required": true,
            "description": "The reference's `id`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The reference was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ReferenceNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nawait mage.references.delete('REFERENCE_ID');"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nmage.references.delete(\"REFERENCE_ID\")"
          }
        ]
      }
    },
    "/v1/anima/generate": {
      "post": {
        "operationId": "generate_anima",
        "summary": "Anima",
        "description": "Generate an image with Anima.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for Anima.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "anima-v1"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "anima-v1"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1k",
                      "2k"
                    ],
                    "description": "Output resolution token.",
                    "default": "1k"
                  },
                  "scheduler": {
                    "type": "string",
                    "default": "euler"
                  },
                  "shift": {
                    "type": "number",
                    "default": 3
                  },
                  "prompt_weighting": {
                    "type": "boolean",
                    "default": true
                  },
                  "num_inference_steps": {
                    "type": "number",
                    "default": 30
                  },
                  "guidance_scale": {
                    "type": "number",
                    "default": 5
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "anima",
                  "model_id": "anima-v1",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 20
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('anima', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"anima\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/chroma/generate": {
      "post": {
        "operationId": "generate_chroma",
        "summary": "Chroma",
        "description": "Generate an image with Chroma.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for Chroma.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "chroma-v1-hd"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "chroma-v1-hd"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "num_inference_steps": {
                    "type": "number",
                    "default": 40
                  },
                  "guidance_scale": {
                    "type": "number",
                    "default": 3
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "chroma",
                  "model_id": "chroma-v1-hd",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 35
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('chroma', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"chroma\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/flux2/generate": {
      "post": {
        "operationId": "generate_flux2",
        "summary": "Flux 2",
        "description": "Generate an image with Flux 2.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for Flux 2.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "flux2-dev"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "flux2-dev"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1k",
                      "2k"
                    ],
                    "description": "Output resolution token.",
                    "default": "1k"
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                      }
                    ],
                    "description": "The reference image. An https URL or a data URL."
                  },
                  "additional_images": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uri"
                        },
                        {
                          "type": "string",
                          "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                        }
                      ]
                    },
                    "description": "Additional reference images. Each an https URL or a data URL."
                  },
                  "num_inference_steps": {
                    "type": "number",
                    "default": 28
                  },
                  "guidance_scale": {
                    "type": "number",
                    "default": 4
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "flux2",
                  "model_id": "flux2-dev",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 40
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('flux2', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"flux2\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/gpt_image_2/generate": {
      "post": {
        "operationId": "generate_gpt_image_2",
        "summary": "GPT Image 2",
        "description": "Generate an image with GPT Image 2.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for GPT Image 2.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "gpt-image-2",
                      "gpt-image-2.5-flare",
                      "gpt-image-2.5-sunburst"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "gpt-image-2"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1K",
                      "2K"
                    ],
                    "description": "Output resolution token.",
                    "default": "1K"
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                      }
                    ],
                    "description": "The reference image. An https URL or a data URL."
                  },
                  "additional_images": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uri"
                        },
                        {
                          "type": "string",
                          "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                        }
                      ]
                    },
                    "description": "Additional reference images. Each an https URL or a data URL."
                  },
                  "quality": {
                    "type": "string",
                    "default": "low"
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "gpt_image_2",
                  "model_id": "gpt-image-2",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 9
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('gpt_image_2', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"gpt_image_2\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/grok_image/generate": {
      "post": {
        "operationId": "generate_grok_image",
        "summary": "Grok Image",
        "description": "Generate an image with Grok Image.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for Grok Image.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "grok-imagine-image",
                      "grok-imagine-image-quality",
                      "grok-imagine-image-2.0"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "grok-imagine-image-quality"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "16:9",
                      "9:16",
                      "4:3",
                      "3:4",
                      "3:2",
                      "2:3",
                      "2:1",
                      "1:2",
                      "19.5:9",
                      "9:19.5",
                      "20:9",
                      "9:20"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "1:1"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1k",
                      "2k"
                    ],
                    "description": "Output resolution token.",
                    "default": "1k"
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                      }
                    ],
                    "description": "The reference image. An https URL or a data URL."
                  },
                  "additional_images": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uri"
                        },
                        {
                          "type": "string",
                          "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                        }
                      ]
                    },
                    "description": "Additional reference images. Each an https URL or a data URL."
                  },
                  "quality": {
                    "type": "string",
                    "default": "medium"
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "1:1"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "grok_image",
                  "model_id": "grok-imagine-image-quality",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 75
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('grok_image', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '1:1',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"grok_image\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"1:1\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/guava/generate": {
      "post": {
        "operationId": "generate_guava",
        "summary": "Guava",
        "description": "Generate an image with Guava.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for Guava.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "guava",
                      "guava-pro",
                      "guava-pro-v1-5",
                      "guava-2",
                      "guava-2-pro"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "guava"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1K",
                      "2K"
                    ],
                    "description": "Output resolution token.",
                    "default": "1K"
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                      }
                    ],
                    "description": "The reference image. An https URL or a data URL."
                  },
                  "additional_images": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uri"
                        },
                        {
                          "type": "string",
                          "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                        }
                      ]
                    },
                    "description": "Additional reference images. Each an https URL or a data URL."
                  },
                  "prompt_extend": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "guava",
                  "model_id": "guava",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 37
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('guava', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"guava\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/hidream/generate": {
      "post": {
        "operationId": "generate_hidream",
        "summary": "HiDream",
        "description": "Generate an image with HiDream.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for HiDream.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "hidream-fast"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "hidream-fast"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "default": ""
                  },
                  "num_inference_steps": {
                    "type": "number",
                    "default": 16
                  },
                  "guidance_scale": {
                    "type": "number",
                    "default": 0
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "hidream",
                  "model_id": "hidream-fast",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 20
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('hidream', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"hidream\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/krea_2/generate": {
      "post": {
        "operationId": "generate_krea_2",
        "summary": "Krea 2",
        "description": "Generate an image with Krea 2.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for Krea 2.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "krea-2-turbo"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "krea-2-turbo"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1k",
                      "2k"
                    ],
                    "description": "Output resolution token.",
                    "default": "1k"
                  },
                  "scheduler": {
                    "type": "string",
                    "default": "euler"
                  },
                  "num_inference_steps": {
                    "type": "number",
                    "default": 8
                  },
                  "guidance_scale": {
                    "type": "number",
                    "default": 0
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "krea_2",
                  "model_id": "krea-2-turbo",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 20
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('krea_2', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"krea_2\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/mango/generate": {
      "post": {
        "operationId": "generate_mango",
        "summary": "Mango",
        "description": "Generate an image with Mango.",
        "tags": [
          "Image models"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key of your choosing, 1 to 255 characters, scoped to your API key. A retried submit with the same key returns the original request with `200` instead of charging again. The key identifies the first submission made with it; later bodies are not compared. A refusal recorded under the key (its envelope carries `request_id`) replays the same way, so a new attempt needs a new key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A partial config for Mango.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt."
                  },
                  "seed": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Integer seed for reproducible output; omit or send null for a random seed."
                  },
                  "model_id": {
                    "type": "string",
                    "enum": [
                      "mango",
                      "mango-v2",
                      "mango-v3s",
                      "mango-v3"
                    ],
                    "description": "The model variant to generate with.",
                    "default": "mango-v3"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "21:9",
                      "16:9",
                      "3:2",
                      "5:4",
                      "1:1",
                      "4:5",
                      "2:3",
                      "9:16",
                      "9:21"
                    ],
                    "description": "Aspect ratio as `W:H`.",
                    "default": "4:5"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1K",
                      "2K",
                      "3K",
                      "4K"
                    ],
                    "description": "Output resolution token.",
                    "default": "2K"
                  },
                  "image": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "string",
                        "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                      }
                    ],
                    "description": "The reference image. An https URL or a data URL."
                  },
                  "additional_images": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uri"
                        },
                        {
                          "type": "string",
                          "pattern": "^data:[^;,]+(?:;[^;,]+)*;base64,"
                        }
                      ]
                    },
                    "description": "Additional reference images. Each an https URL or a data URL."
                  }
                },
                "required": [
                  "prompt"
                ],
                "additionalProperties": true
              },
              "example": {
                "prompt": "Editorial portrait in soft daylight, 35mm film look",
                "aspect_ratio": "4:5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request was accepted; poll `status_url` for the result. A retried submit whose `Idempotency-Key` was used before answers `200` with the same shape, the original request, and charges nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                },
                "example": {
                  "request_id": "d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff",
                  "status": "in_progress",
                  "architecture": "mango",
                  "model_id": "mango-v3",
                  "created_at": "2026-09-17T14:52:48.000Z",
                  "updated_at": "2026-09-17T14:52:49.000Z",
                  "billing": {
                    "mode": "gems",
                    "gems_charged": 135
                  },
                  "result": null,
                  "error": null,
                  "status_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/status",
                  "cancel_url": "https://api.mage.space/v1/requests/d7e6c0f3-6699-4f6c-bb45-2ad7fd9158ff/cancel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidGenerateRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientGems"
          },
          "403": {
            "$ref": "#/components/responses/GenerationForbidden"
          },
          "410": {
            "$ref": "#/components/responses/ArchitectureRetired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "451": {
            "$ref": "#/components/responses/ExternalContentBlock"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import Mage from '@mage-space/sdk';\n\nconst mage = new Mage(); // reads MAGE_API_KEY\n\nconst request = await mage.run('mango', {\n  prompt: 'Editorial portrait in soft daylight, 35mm film look',\n  aspect_ratio: '4:5',\n});\n\nconsole.log(request.result.url);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from mage_space import Mage\n\nmage = Mage()  # reads MAGE_API_KEY\n\nrequest = mage.run(\"mango\", {\n    \"prompt\": \"Editorial portrait in soft daylight, 35mm film look\",\n    \"aspect_ratio\": \"4:5\",\n})\n\nprint(request[\"result\"][\"url\"])"
          }
        ]
      }
    },
    "/v1/nano_banana_v2/generate": {
      "post": {
        "operationId": "generate_nano_banana_v2",
        "summary": "Nano Banana 2",
        "description": "Generate an image with Nano Banana 2.",
[...]
